DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/report_platform
REDIS_URL=redis://127.0.0.1:6379
DATASOURCES=[{"id":"clickhouse","label":"exam_events","engine":"clickhouse","url":"http://127.0.0.1:8123","defaultQuery":"SELECT * FROM exam_events","description":"exam_events (2024–2026)","dateField":"exam_date"},{"id":"postgres","label":"MedicalCertificate","engine":"postgres","url":"postgresql://postgres:postgres@127.0.0.1:5432/report_platform","defaultQuery":"SELECT * FROM \"MedicalCertificate\"","description":"MedicalCertificate (~5k строк)","dateField":"issuedAt"}]